@charset "utf-8";

.wp-quadratum-postbox-settings {
	width: 60%;
	padding: 0 0 0 0;
}

.wp-quadratum-postbox-sidebar {
	width: 30%;
	padding: 0 0 0 10px;
}

.wp-quadratum-postbox-sidebar ul {
	list-style: square;
	padding: 0 0 0 1em;
}

.wp-quadratum-success {
	border: 1px solid #8ACEFF;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #E2F5FE url(../images/success.png) no-repeat 5px center;
}

.wp-quadratum-warning {
	border: 1px solid #F8C44F;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FEE8B9 url(../images/warning.png) no-repeat 5px center;
}

.wp-quadratum-error {
	border: 1px solid #F96764;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FCB2B5 url(../images/error.png) no-repeat 5px center;
}

#wp-quadratum-client-id, #wp-quadratum-client-secret,
#wp-quadratum-factual-oauth-key, #wp-quadratum-factual-oauth-secret {
	width: 450px;
}
